@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
}

body {
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 0;
  text-align: center;
  background: url("https://cdn.discordapp.com/attachments/739927889473962084/963503243898523648/Baccground.png");
  background-position: 30% 45%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.head-div {
  text-align:center;
  padding:20%;
  padding-top:2%;
  padding-bottom:3%;
}

.logo-img {
  border-radius: 50%;
  border: 2px solid #353535;
  box-shadow: 0 0 6px #353535;
}

.link-div{ 
  padding: 20%;
  padding: left 10%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.alink {
  color:#FAFAFA;
  text-align: center;
  margin-top: 1px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-color: #353535;
  background-color: #572907;
  padding: 20px 0;
  max-width: 590px;
  display: block;
  text-decoration:none;
  transition: 0.3s;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
}

.alink:hover {
  color: #ffd91d;
  transition: 0.3s;
  animation: zoom 25s;
}

.copyright{
  color: #353535;
  text-align:center;
}

.GuaxiCode {
  color: #572907;
  transition: 0.3s;
}

.GuaxiCode:hover {
  color: #deb900;
}

@keyframes zoom {
  0%{
      transform: scale(1.01);
  }
  25%{
    transform: scale(1.03);
  }
  75%{
    transform: scale(1.05);
  }
  100%{
      transform: scale(1);
  }
}