* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  --bg-color: #ebe8dd; /* COR DO BACKGROUND */
  --text-color: #000000; /* COR DO TEXTO */
  --primary-color: #f3f3f3; /* COR PRIMÁRIA */
  --secondary-color: #008037; /* COR SECUNDÁRIA */
  --tertiary-color: #572907; /* COR TERCIÁRIA */
  --quaternary-color: #67923d; /* COR QUATERNÁRIA */
  --quinary-color: #ffd91d; /* COR QUINTENÁRIA */
}

body {
  background: var(--bg-color);
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}

h1 {
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 8px;
}

ul {
  list-style: none;
  margin: 48px 0;
}

a {
  text-decoration: none;
}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

.logo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 3.7px;
  border: var(--primary-color) solid 4px;
  border-top: var(--secondary-color) solid 4px;
  border-left: var(--tertiary-color) solid 4px;
  border-bottom: var(--quaternary-color) solid 4px;
  border-right: var(--quinary-color) solid 4px;
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--tertiary-color);
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 14px;

  margin-bottom: 16px;
  border-radius: 6px;

  transition: background 400ms;
}

ul li a:hover {
  color: #ffd91d;
  transition: 0.3s;
}

footer {
  font-weight: 500;
  font-size: 12px;
  transition: opacity 400ms;
}

footer a {
  color: var(--text-color);
  transition: 0.3s;
}

footer a:hover {
  color: var(--secondary-color);
  transition: 0.3s;
}

/* PRELOADER*/

.wrapper {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: var(--bg-color);
  display: grid;
  place-items: center;
  transition: opacity 0.25s, visibility 1s;
}

.fade {
  opacity: 0;
  visibility: hidden;
}

.loader {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: var(--primary-color) solid 11px;
  border-top: var(--secondary-color) solid 11px;
  border-left: var(--tertiary-color) solid 11px;
  border-bottom: var(--quaternary-color) solid 11px;
  border-right: var(--quinary-color) solid 11px;
  animation: spin-loader 2s linear infinite;
  position: absolute;
}

@keyframes spin-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
